<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bartosz Wójtowicz CV</title>

<!--        GOOGLE FONTS-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
<!--        MY CSS-->
        <link href="{% static '1 - general.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '2 - title.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '3 - about.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '4 - kursy.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '5 - projects.css' %}" rel="stylesheet" type="text/css">
<!--         JAVA SCRIPT -->
        <script src="{% static 'jquery.js' %}" crossorigin="anonymous" defer></script>
        <script src="{% static 'script1.js' %}" crossorigin="anonymous" defer></script>
        <script src="{% static 'script2.js' %}" crossorigin="anonymous" defer></script>
        <script src="{% static 'script3.js' %}" crossorigin="anonymous" defer></script>
<!--         FONT-AWESOME -->
        <script src="https://kit.fontawesome.com/196ce09d2f.js" crossorigin="anonymous"></script>
<!--         MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>
</head>
<body>
    <div id="content">
<!--        MENU-->
        <div id="menu">
            <div id="sub-menu">
                <a class="menu-link" href="#title-page">Start</a>
                <a class="menu-link" href="#about-page">About</a>
                <a class="menu-link" href="#skills-page">Kursy</a>
                <a class="menu-link" href="#projects-page">Projekty</a>
            </div>
        </div>
        <i class="fas fa-3x fa-hamburger" id="burger"></i>

<!--        TITLE-->
        <div class="page" id="title-page">
            <img id="personal-img" src="{% static 'personal.jpg' %}">

            <div id="names-div">
                <div class="heading">
                    <a href="https://www.linkedin.com/in/bartosz-w%C3%B3jtowicz-0824b21ab/" target="_blank"><i class="fab fa-4x fa-linkedin"></i></a>
                    <h1 id="name">Bartosz Wójtowicz</h1>
                </div>
                <div class="heading">
                    <a href="https://phd.kul.pl/"><i class="fas fa-2x fa-graduation-cap"></i></a>
                    <h2 id="education">Szkoła Doktorska</h2>
                </div>
                <div class="heading">
                    <i id="mail-icon" class="fas fa-2x fa-envelope"></i>
                    <h2 id="mail">bartoszjanjerzy @ gmail.com</h2>
                    <i id="copy-mail-confirm" class="fas fa-clone" style="color:rgba(178, 255, 158, 1)"></i>
                </div>
                <div class="heading">
                    <i id="phone-icon" class="fas fa-2x fa-phone-square-alt" value="519466559"></i>
                    <h2 id="phone">519-466-559</h2>
                    <i id="copy-phone-confirm" class="fas fa-clone copy" style="color:rgba(178, 255, 158, 1)"></i>
                </div>

                <div id="title-link-div">
                    <a class="title-link" id="about-link" href="#about-page">O mnie</a>
                    <a class="title-link" id="skills-link" href="#skills-page">Kursy</a>
                    <a class="title-link" id="projects-link" href="#projects-page">Projekty</a>
                </div>
            </div>
            <div id="bufor"></div>
        </div>

<!--        ABOUT-->
        <div class="page" id="about-page">
            <div id="about-text-div">
                <h1 id="about-title">O mnie</h1>
                <i class="fas fa-2x fa-user-tie"></i>
                <P class="about-par">Jestem młodym naukowcem w Szkole Doktorskiej - prowadzę badania empiryczne dotyczące otwartości
                    poznawczej w kwestiach światopoglądu, polityki i religii.</P>
                <P class="about-par">W pracy poza uczelnią (młodszy specjalista ds. badań, full remote, od. 12.2020r.)
                    tworzę narzędzia do badań rynkowych, analizy rynkowe, wykonuję obliczenia statystyczne.</P>

                <i class="fab fa-2x fa-python"></i>
                <P class="about-par">Moim najbliższym celem zawodowym jest wejście do branży IT - od roku poświęcam wolny czas na naukę programowania.</P>
                <P class="about-par">Uczę się głównie Pythona w kierunku analizy danych i tworzenia aplikacji webowych.</P>
                <P class="about-par">Poznałem również podstawy front-endu.</P>

                <i class="fas fa-2x fa-users"></i>
                <P class="about-par">Praca w zespole naukowym nauczyła mnie systematyczności, samodyscypliny i komunikacji.</P>
                <P class="about-par">Potrafię również sam prowadzić zespół - z sukcesami przewodniczyłem Studenckiemu Kołu Neuronauk.</P>

                <i class="fas fa-2x fa-football-ball"></i>
                <P class="about-par">Nadmair energii pożytkuję grając w drużynie footballu amerykańskiego.</P>
                <P class="about-par">Uwielbiam też wędrować po górach, śpiewać i grać na gitarze.</P>
            </div>
            <img id="personal-2-img" src="{% static 'personal-2.jpg' %}">
        </div>

<!--        SKILLS-->
        <div class="page" id="skills-page">
            <h1 id="kursy-title">Ukończone kursy</h1>
            <div id="kursy-div">
                {% for k in kurs%}
                    <a class="kurs-link" href="https://www.udemy.com/course/{{ k.link }}" target="_blank">
                        <div class="kurs-div">
                            <p>
                                <i class="{{ k.icon }}"></i>
                                <i class="{{ k.icon2 }}"></i>
                                <br>
                                {{ k.title }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

<!--        PROJECTS-->
        <div class="page" id="projects-page">
            <h1 id="projects-title">Przykłady moich projektów</h1>

            <div id="projects-div">
                <div class="project-icon" id="boredom-script">
                    <div class="project-icon-head">
                        <i class="fas fa-2x fa-brain"></i>
                        <p>
                            Analiza statystyczna autorskiego badania
                            <a href="https://github.com/BartoszJanJerzy/stats/tree/main/Boredom%20experiment" target="_blank">
                                <i class="fas fa-external-link-alt project-i-link"></i></a>
                        </p>
                    </div>
                    <div class="project-icon-body" id="boredom-body">
                        <p>Przykład analizy statystycznej wykonanej do autorskiego badania.</p>
                        <p>Skrypt zawiera pre-proccessing danych, obliczenia rzetelności skal, testów t, wielkości efektów,
                            regresji liniowej i krzywoliniiowej.</p>
                        <p>Analizy wykonane, m.in. z bibliotek scikit-learn, scipy, statistics.</p>
                        <p>Wykresy wykonałem w bibliotece python-plotly.</p>
                        <p>W linku można znaleźc również inne podobnie wykonane przeze mnie skrypty</p>
                    </div>
                </div>

                <div class="project-icon" id="ocr-app">
                    <div class="project-icon-head">
                        <i class="fas fa-2x fa-eye"></i>
                        <p>Aplikacja OCR</p>
                    </div>
                    <div class="project-icon-body" id="ocr-app-body">
                        <p>Dodatkowy projekt z mojej obecnej pracy, w trakcie produkcji - kilka słów bez zdradzania dokładnego celu.</p>
                        <p>Aplikacja webbowa zbudowana w python-django odczytująca tekst z obrazów lub .pdf.</p>
                        <p>Odczytany tekst jest przetwarzany w celu wyszukania zadekalrowanych fraz.</p>
                        <p>W backendzie skomunikowanych jest seria funkcji (views) wykonujących pojedyncze kroki analizy.</p>
                        <p>Użyte biblioteki to, m.in. py-tesseract, pdf2image, regex, opencv</p>
                    </div>
                </div>

                <div class="project-icon" id="regression-app">
                    <div class="project-icon-head">
                        <i class="fas fa-2x fa-chart-line"></i>
                        <p>
                            Aplikacja do regresji krzywoliniowej
                            <a href="https://curvilinear-regressions.herokuapp.com/" target="_blank">
                                <i class="fas fa-external-link-alt project-i-link"></i>
                            </a>
                        </p>
                    </div>
                    <div class="project-icon-body" id="regression-app-body">
                        <p>Dodatkowy projekt w ramach treningu programowania.</p>
                        <p>Aplikacja webbowa zbudowana w python-dash wizualizująca relacje między danymi.</p>
                        <p>Użytkownik podaje bazę danych i wybiera z nich predyktor oraz zmienną zależną.</p>
                        <p>Na ich podstawie obliczane są regresje liniowe i krzywoliniowe.</p>
                        <p>Wyświetlany jest również interaktywny wykres.</p>
                        <p>Użyte biblioteki to, m.in. dash, plotly, scikit-learn</p>
                    </div>
                </div>

                <div class="project-icon" id="xml-data">
                    <div class="project-icon-head">
                        <i class="fas fa-2x fa-table"></i>
                        <p>Przetwarzanie danych .xml</p>
                    </div>
                    <div class="project-icon-body" id="xml-data-body">
                        <p>Wykorzystałem Pythonowe skille do odczytania danych .xml.</p>
                        <p>Dane oryginalne posiadały kilkaset tysięcy rekordów i wielokrotnie zagnieżdżone tagi xml.</p>
                        <p>Wartości z poszczególnych tagów zapisałem do obiektu DataFrame, a ten do pliku .csv.</p>
                        <p>Wykorzystane biblioteki to xml i pandas.</p>
                    </div>
                </div>

                <div class="project-icon" id="lime-tuning">
                    <div class="project-icon-head">
                        <i class="fas fa-2x fa-edit"></i>
                        <p>Funkcjonalności java-script</p>
                    </div>
                    <div class="project-icon-body" id="lime-tuning-body">
                        <p>Napisałem algorytmy w java-script dodające funkcjonalności do edytora ankiet.</p>
                        <p>Polegają, m.in. na śledzeniu kursora respondenta oraz liczby kliknięć.</p>
                    </div>
                </div>

                <div class="project-icon" id="ih-grant">
                    <div class="project-icon-head">
                        <i class="fas fa-2x fa-graduation-cap"></i>
                        <p>Uniwersytecki grant badawczy</p>
                    </div>
                    <div class="project-icon-body" id="ih-grant-body">
                        <p>Jestem pomysłodawcą i jedną z trzech osób interdyscyplinarnego zespołu grantowego.</p>
                        <p>Autorskie badanie dotyczy otwartości poznawczej w kontekście polityki.</p>
                        <p>Samodzielnie przeprowadziłem analizy regresji krzywoliniowej w skrypcie Python z biblioteką scikit-learn.</p>
                        <p>Wyniki wizualizowałem z bilbioteką python-plotly.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>