<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bartosz Wójtowicz CV</title>
        <link rel="icon" href="{% static 'logo160.png' %}">

<!--        GOOGLE FONTS-->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
<!--        MY CSS-->
        <link href="{% static '1 - general.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '2 - title.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '3 - about.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '4 - kursy.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '5 - exp.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '6 - projects.css' %}" rel="stylesheet" type="text/css">
<!--         JAVA SCRIPT -->
        <script src="{% static 'jquery.js' %}" crossorigin="anonymous" defer></script>
        <script src="{% static 'script1.js' %}" crossorigin="anonymous" defer></script>
        <script src="{% static 'script2.js' %}" crossorigin="anonymous" defer></script>
        <script src="{% static 'script3.js' %}" crossorigin="anonymous" defer></script>
        <script src="{% static 'script4.js' %}" crossorigin="anonymous" defer></script>
<!--         FONT-AWESOME -->
        <script src="https://kit.fontawesome.com/607ca086f9.js" crossorigin="anonymous"></script>
<!--         MDB -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THTRXLT"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="content">
<!--        MENU-->
        <div id="menu">
            <div id="sub-menu">
                <a class="menu-link" href="#title-page">Start</a>
                <a class="menu-link" href="#about-page">About</a>
                <a class="menu-link" href="#skills-page">Courses</a>
                <a class="menu-link" href="#exp-page">Current Job</a>
                <a class="menu-link" href="#projects-page">Projects</a>
            </div>
        </div>
        <i class="fas fa-3x fa-hamburger" id="burger"></i>

<!--        TITLE-->
        <div class="page" id="title-page">
            <img id="personal-img" src="{% static 'personal.jpg' %}">

            <div id="names-div">
                <div class="heading">
                    <a href="https://www.linkedin.com/in/bartosz-wojtowicz/" target="_blank"><i class="fab fa-4x fa-linkedin"></i></a>
                    <h1 id="name">Bartosz Wójtowicz</h1>
                </div>
                <div class="heading">
                    <i class="fa-solid fa-2x fa-user-tie"></i>
                    <h2 class="personal-info"> Junior Data Scientist</h2>
                </div>
                <div class="heading">
                    <i class="fas fa-2x fa-graduation-cap"></i>
                    <h2 class="personal-info">Master Degree in Social Science</h2>
                </div>
                <div class="heading">
                    <i id="mail-icon" class="fas fa-2x fa-envelope"></i>
                    <h2 class="personal-info">bartoszjanjerzy @ gmail.com</h2>
                    <i id="copy-mail-confirm" class="fas fa-clone" style="color:rgba(178, 255, 158, 1)"></i>
                </div>

                <div id="title-link-div">
                    <a class="title-link" id="about-link" href="#about-page">About</a>
                    <a class="title-link" id="skills-link" href="#skills-page">Courses</a>
                    <a class="title-link" id="exp-link" href="#exp-page">Current Job</a>
                    <a class="title-link" id="projects-link" href="#projects-page">Projects</a>
                </div>
            </div>
            <div id="bufor"></div>
        </div>

<!--        ABOUT-->
        <div class="page" id="about-page">
            <div id="about-text-div">
                <h1 class="title" id="about-title">About</h1>
                <i class="fas fa-2x fa-user-tie"></i>
                <P class="about-par">I am a Junior Data Scientist in Asseco Business Solutions.</P>
                <P class="about-par">Analyzing & data visualization, using ML algorithms and programming skills are what I do every day.</P>

                <i class="fab fa-2x fa-python"></i>
                <P class="about-par">I spent some time to change my previous industry to IT. I believed that I can do it and it was not a mistake.
                    Now, I have work of the future - analyzing tons of data, finding insights and serving services into business.</P>
                <P class="about-par">I am motivated, responsible and happy programmer with energy to growing up in IT skills.</P>

                <i class="fas fa-2x fa-football-ball"></i>
                <P class="about-par">Personally, I'm an american football player in local amateur team.</P>
                <P class="about-par">I love sport challenges and mountain hiking!</P>
                <P class="about-par">Additionally, I enjoy listening to rock & metal bands (e.g. Black Sabbath, Riverside),
                    exploring fantasy and sci-fi universes (e.g. Tolkien's MiddleEarth, Herbert's Dune), playing on my guitars.</P>
            </div>
            <img id="personal-2-img" src="{% static 'personal-2.jpg' %}">
        </div>

<!--        SKILLS-->
        <div class="page" id="skills-page">
            <h1 class="title" id="kursy-title">Courses</h1>
            <div id="kursy-div">
                {% for k in kurs%}
                    <a class="kurs-link" href="https://www.udemy.com/course/{{ k.link }}" target="_blank">
                        <div class="kurs-div">
                            <p>
                                <i class="{{ k.icon }}"></i>
                                <i class="{{ k.icon2 }}"></i>
                                <br>
                                {{ k.title }}
                            </p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

<!--        JOB EXPERIENCE-->
        <div class="exp" id="exp-page">
            <h1 class="title" id="exp-title">Professional experience in IT <p id="timer"></p></h1>
            <div id="graphs-div">
                <div class="graph-div" id="exp-graph">
                    {% if exp_graph %}
                    {{ exp_graph|safe }}
                    {% else %}
                    <p>No graph was provided.</p>
                    {% endif %}
                </div>
                <div class="graph-div" id="task-graph">
                    {% if task_graph %}
                    {{ task_graph|safe }}
                    {% else %}
                    <p>No graph was provided.</p>
                    {% endif %}
                </div>
                <div class="graph-div" id="data-types-graph">
                    {% if data_types_graph %}
                    {{ data_types_graph|safe }}
                    {% else %}
                    <p>No graph was provided.</p>
                    {% endif %}
                </div>
                <div class="graph-div" id="skills-graph">
                    {% if skills_graph %}
                    {{ skills_graph|safe }}
                    {% else %}
                    <p>No graph was provided.</p>
                    {% endif %}
                </div>
            </div>

<!--        PROJECTS-->
            <div class="page" id="projects-page">
                <h1 class="title" id="projects-title">Projects</h1>
                <div class="project-item" id="space-tytanic">
                    <h3 class="projects-item-title"><i class="fa-solid fa-user-astronaut"></i><i class="fa-solid fa-anchor"></i></h3>
                    <P class="projects-par">
                        I've been preparing a solution for KAGGLE Spaceship Tytanic competiton.
                        <a href="https://www.kaggle.com/c/spaceship-titanic" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                    </P>
                    <P class="projects-par">
                        Click and see GIT repo!
                        <a href=https://github.com/BartoszJanJerzy/SpaceshipTytanic target="_blank"><i class="fa-brands fa-github"></i></a>
                    </P>
                </div>
            </div>
        </div>
    </div>
</body>
</html>