#about-page {
    /*border:1px solid white;*/
    margin-top:1px;
    padding-bottom:150px;

    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}

/* PHOTO */
#personal-2-img {
    width:500px;
    float:left;
    margin-left:7%;
    margin-top:2%;
    margin-bottom:2%;

    border:10px solid rgba(8, 99, 117, 1);
    border-radius:250px 250px 0px 250px;
}

/* TEXT */
#about-text-div {
    width:60%;
    margin-top:4%;
    margin-bottom:2%;
}
.about-par {
    font-size:30px;
    padding:0px;
    margin:0px;
}
#about-text-div i {
    margin-top:25px;
    margin-right:5px;
}

