#projects-page {
    /*border:1px solid white;*/

    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}
#projects-title {
    width:99%;
    font-size:80px;
    color:rgba(178, 255, 158,1);
    text-align:center;

    margin:0px auto;
    margin-top:4%;
    padding:0px;
}
#projects-div {
    width:85%;
    margin:0px auto;
    margin-bottom:150px;

    /*border:1px solid silver;*/
    text-align:center;

    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}
.project-icon {
    width:100%;
    min-height:100px;
    margin:10px;
    padding:10px 20px;

    background-color:rgba(240,240,240,0.5);
    color:rgba(10,10,10,1);
    font-size:30px;

    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;

    transition:1s;
}
.project-icon:hover{
    background-color:rgba(240,240,240,0.75);
    color:rgba(8, 99, 117,1);

    transition:1s;
}
.project-icon-head {
    width:100%;
}
.project-i-link {
    font-size:15px;
    margin-bottom:15px;
    color:rgba(8, 99, 117,1);
}
.project-i-link:hover {
    font-size:15px;
    margin-bottom:15px;
    color:rgba(8, 99, 117,1);
}
.project-icon-body {
    display:none;
    font-size:20px;
    color:rgba(10,10,10,1);
}

